:root {
  --background: #f9f8f6;
  --foreground: #171717;
  --bs-body-bg: #f9f8f6;
  --bs-body-color: #171717;
  --primary: #3c8dbc;
  --secondary: #222222;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bs-body-bg: #0a0a0a;
    --bs-body-color: #ededed;
    --primary: #3c8dbc;
    --secondary: #222222;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.white-shade {
  background: rgba(255, 255, 255, 0.1);
}

.black-shade {
  background: rgba(0, 0, 0, 0.1);
}

.on-hover:hover {
  background: rgba(0, 0, 0, 0.1) !important;
  cursor: pointer
}

.page-container-border{
  border: 1px solid #BECBD6;
  border-top: 4px solid #BECBD6;
}

.accordion-button {
  background-color: var(--secondary);
  border: 0;
  padding: 16px;
  color: silver;
}

.accordion-button:hover {
  background-color: black;
  border: 0;
  color: #fff;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  border: 0;
  color: #fff;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
  border: 0;
}

.accordion-button::after {
  filter: brightness(0) invert(0.7);
  border: 0;
}

.accordion-button:hover::after {
  filter: brightness(0) invert(1);
  border: 0;
}

.navbar-nav .nav-link.active {
  color: silver
}

.navbar-nav .nav-link.active:hover {
  color: #fff;
}