:root {
  --background: #f9f8f6;
  --foreground: #171717;
  --bs-body-bg: #f9f8f6;
  --bs-body-color: #171717;
  --primary: #3c8dbc;
  --secondary: #222222;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --bs-body-bg: #0a0a0a;
    --bs-body-color: #ededed;
    --primary: #3c8dbc;
    --secondary: #222222;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto-mono), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.white-shade {
  background: rgba(255, 255, 255, 0.1);
}

.black-shade {
  background: rgba(0, 0, 0, 0.1);
}

.on-hover:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer
}