.navlink {
  color: silver;
  padding: 1rem;
}

.navlink:hover {
  color: white;
  background: black;
}

.active {
  color: white !important;
  background: #000 !important ;
  font-weight: bold;
}

.sidebar {
  transition: width 0.3s ease;
}